.topMenu {
  overflow: hidden;
  background: rgb(26, 26, 26);
}
.topMenu img {
  padding: 10px 7px 3px 3px;
  margin: 5px;
}
.topMenu a {
  float: left;
}
.topMenu a:hover {
  background-color: rgb(232, 239, 245);
  color:rgb(11, 14, 216)
}
.topMenuRight {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-right: 10px;
}
.link {
  text-decoration: none;
  padding: 23.5px 23.5px 2px 2px;
  margin-left: 5px;
  margin-right: 5px;
  color: #f1f1f1;
}
.subMenu {
  background: rgb(232, 239, 245);
  overflow: hidden;
}
.subMenu img {
  float: left;
  padding: 5px 10px;
}
.subMenuRight {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-right: 20px;
  overflow: hidden;
}
.flat {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 34px 5px 5px 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(26, 26, 26);
}
.flat:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.flat:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.dropMenu {
  /*display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 6px 5px 5px 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(26, 26, 26);
  overflow: hidden;*/
  float: right;
  overflow: hidden;
}
.dropMenu:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.dropMenu:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.drop {
  text-decoration: none;
}
.subDrop {
  position: absolute;
  display: none;
  z-index: 1;
}
.subDrop .dropPoint {
  float: none;
  text-decoration: none;
  text-align: left;
  display: block;
}
