:root {
    --dark: #1d1d1d;
    --light: #fff;
    --green: #28a92b;
  }
  .gsapBody {
    background-color: var(--dark);
    color: var(--light);
    font-family: "Signika Negative", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
  } 
  .gsapPage {
    /*display: inline-block;*/
    /*justify-content: center;*/
    /*min-height: 100vh;*/
    /*padding: 10px;*/
    /*display: inline-block;*/
  }
  .box7 {
    text-align: center;
    margin: 0 40%;
    padding: 30px 20px;
    background-color: #28a92b;
    border-radius: 10%;
    color: white;
  }